<div class="header">
  <div *ngIf="backButton" class="back-button-container button-container" (click)="goBack()">
    <button mat-fab>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="title-container">
    <div class="title">
      {{title}}
    </div>
  </div>
  <div *ngIf="addNewButton" class="home-button-container button-container" (click)="addNew()">
    <button mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="modifyButton" class="home-button-container button-container" (click)="modify()">
    <button mat-fab>
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>