<app-page-template [title]="event? club.name+' eseménye' : ''" [backButton]="true" [addNewButton]="true"
  (onAddNew)="onAddNew()" [modifyButton]="isAdmin()" (onModify)="onModify()">
  <div class="event-page-container">
    <div class="event-container" *ngIf="event">
      <mat-card class="description-card">
        <mat-card-header>
          <mat-card-title>{{event.bookTitle}}</mat-card-title>
          <mat-card-subtitle>{{event.author}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>{{event.date}}</div>
          <div *ngIf="event.meetingLink">Az esemény linkje:<a>{{event.meetingLink}}</a></div>
          <div>{{event.description}}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="comments-container" *ngIf="comments">
      <div class="comments-title">Értékelések:</div>
      <mat-card class="comment-card" *ngFor="let comment of comments">
        <mat-card-header>
          <mat-card-title>{{comment.rate}}</mat-card-title>
          <app-star-rating [rating]="parseFloat(comment.rate)"></app-star-rating>
        </mat-card-header>
        <mat-card-content>
          <div>{{comment.text}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-page-template>