<app-page-template [title]="event? club.name+' eseménye' : ''" [backButton]="true" [addNewButton]="true"
  [addNewRoute]="'/'">
  <div class="event-page-container">
    <div class="event-container" *ngIf="event">
      <mat-card class="description-card">
        <mat-card-header>
          <mat-card-title>{{event.bookTitle}}</mat-card-title>
          <mat-card-subtitle>{{event.author}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>{{event.date}}</div>
          <div *ngIf="event.meetingLink">Az esemény linkje:<a>{{event.meetingLink}}</a></div>
          <div>{{event.description}}</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="comments-container" *ngIf="club">
      <mat-card class="comment-card" *ngFor="let comments of event.comments">
        <mat-card-header>
          <mat-card-title>{{event.bookTitle}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a>{{event.meetingLink}}</a>
          <div>{{club.description}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-page-template>