<div class="login-container">
    <img class="coffee" src="../../../assets/kave.png" />
    <div class="book">
        <div class="cover">
            <div class="title">
                Álmos könyvklub
            </div>
            <div class="description">
                "Csak még egy <br>fejezetet..."
            </div>
        </div>
        <div class="welcome">
            <h1>Kedves Olvasó!</h1>
            Kérlek jelentkezz be a további ügye-bajos dolgaidért!<br>
            Alig várom, hogy veled együtt olvasgassak!

        </div>
        <form class="login-form" (ngSubmit)="login()">
            <input [(ngModel)]="username" name="username" type="text" placeholder="Felhasználónév" required />
            <input [(ngModel)]="password" name="password" type="password" placeholder="Jelszó" required />
            <button type="submit">Bejelentkezés</button>
            <button type="button" (click)="navigate('/signup')">Regisztráció</button>
        </form>
    </div>
</div>