<div class="login-container">
    <img class="coffee" src="../../../assets/kave.png" />
    <div class="book" [ngClass]="{'open':  isOpen}">
        <div class="cover" (click)="isOpen = !isOpen">
            <div class="title">
                Álmos könyvklub
            </div>
            <div class="description">
                "Csak még egy <br>fejezetet..."
            </div>
        </div>
        <div class="welcome">
            <h1>Kedves Olvasó!</h1>
            Kérlek jelentkezz be a további ügye-bajos dolgaidért!<br>
            Alig várom, hogy veled együtt olvasgassak!

        </div>
        <form class="login-form" (ngSubmit)="login()">
            <input [(ngModel)]="username" name="username" type="text" placeholder="Felhasználónév" required />
            <input [(ngModel)]="password" name="password" type="password" placeholder="Jelszó" required />
            <div *ngIf="errorMessage" class="failed-login">
                <p>{{errorMessage}}</p>
            </div>
            <button type="submit">Bejelentkezés</button>
            <button type="button" (click)="navigate('/signup')">Regisztráció</button>

            <div class="overlay" *ngIf="isLoading">
                <mat-spinner></mat-spinner>
            </div>
        </form>
    </div>
</div>