@import "../../../variables";

.home-page-container {
  height: 100%;
  width: 100%;

  .club-card-container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .club-card {
      flex: 1;
      padding: 12px;

      &:hover {
        filter: brightness(75%);
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .home-page-container {
    .club-card-container {
      flex-direction: row;

      .club-card {
        flex: 0 1 calc(50% - 24px);
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .home-page-container {
    .club-card-container {
      .club-card {
        flex: 0 1 calc(33.3% - 24px);
      }
    }
  }
}
