// variables
$primary-cold-color: #006d77;
$primary-warm-color: #a76f6f;
$secondary-cold-color: #83c5be;
$secondary-warm-color: #ffddd2;
$primary-dark: #303030;
$secondary-dark: #424242;
$ternary-dark: #676767;

$warning: #f24242;

$primary-font-color: #fff;
$secondary-font-color: #202020;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
