<div class="login-container">
  <form class="login-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email cím</mat-label>
      <input matInput placeholder="pelda@konyv.hu" [formControl]="$any(signupForm).get('email')" required>
      @if (signupForm.get('email')?.errors && signupForm.get('email')?.errors!['email']) {
      <mat-error>Helytelen email!</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Felhasználónév</mat-label>
      <input matInput placeholder="kovacs.anna" [formControl]="$any(signupForm).get('username')" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Keresztnév</mat-label>
      <input matInput placeholder="Anna" [formControl]="$any(signupForm).get('firstName')" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vezetéknév</mat-label>
      <input matInput placeholder="Kovács" [formControl]="$any(signupForm).get('lastName')" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Jelszó</mat-label>
      <input matInput [type]="'password'" [formControl]="$any(signupForm).get('password')" required>
      @if (signupForm.get('password')?.errors && signupForm.get('password')?.errors!['minlength']) {
      <mat-error>Minimum 6 karakter hosszú jelszó kell!</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Jelszó megerősítése</mat-label>
      <input matInput [type]="'password'" [formControl]="$any(signupForm).get('confirmPassword')" required>
      @if (signupForm.get('confirmPassword')?.errors && signupForm.get('confirmPassword')?.errors!['mustMatch']) {
      <mat-error>A jelszavak nem egyeznek!</mat-error>
      }
    </mat-form-field>
    <div class="buttons">
      <button mat-flat-button color="primary" type="submit">Regisztráció</button>
      <button mat-flat-button type="reset" (click)="goBack()">Vissza</button>
    </div>
  </form>
</div>